<% layout('/layouts/boilerplate') %>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
  const campgrounds = {
    features: <%-JSON.stringify(campgrounds)%>,
  };
  console.log(campgrounds);
</script>

<div id="cluster-map" class="mb-5"></div>
<h1 class="mb-3">CampGrounds</h1>
<div class="row" style="gap: 1rem">
  <% for(campground of campgrounds){ %>
  <div class="card my-3" style="width: 32%">
    <a href="/campground/<%= campground._id %> "
      ><img
        style="width: 100%"
        class="card-img-top"
        src="<%= campground.images[0].url %> "
        alt=""
    /></a>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><%= campground.title %></h5>
      <div class="card-text">
        <%= campground.description.length > 50? campground.description.slice(0,
        50) + "...": campground.description %>
      </div>
      <div class="card-text">
        <small class="text-muted"><%= campground.location %> </small>
      </div>
      <div style="flex: 1 1 auto; display: flex; align-items: flex-end">
        <a class="btn btn-primary" href="/campground/<%= campground._id %> "
          >View <%= campground.title %>
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>
<a
  class="btn btn-secondary text-light mt-3 d-inline-block"
  href="/campground/new"
  style="text-decoration: none; color: black"
  >Create new CampGround</a
>

<script src="/javascripts/clusterMap.js"></script>
